:root {
    --nav: #000080;
    --header: #0d1b2a;
    --ciano: #4fc3f7;
    --white: #fff;
    --black: #000;
    --data: #777;
    --gradienteAzul: linear-gradient(to right, #05008B, #0700D7);
    --gradienteCinza: linear-gradient(to right, #EFEFEF, #A3A3A3);
    --gradienteSaibamais: linear-gradient(to right, #64A8FB, #0700D9);

    --caixa: #E9E9E9;
    --cinza: #B5B4B4;

    -ff: 'Poppins';
    font-size: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--white);
    color: var(--black);
  
}

/* ---------- HEADER ---------- */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--nav);
    padding: 10px 40px;
    flex-wrap: wrap;
}

.logo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: var(--white);
    font-weight: 500;
    transition: 0.3s;
}

nav a:hover {
    color: var(--ciano);
}

.actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.actions input {
    padding: 6px 10px;
    border-radius: 20px;
    border: none;
    outline: none;
}

.doar {
    background: var(--gradienteCinza);
    border: none;
    border-radius: 20px;
    padding: 6px 40px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}

.doar:hover {
    background: var(--ciano);
    color: var(--white);
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 150px 50px;
    background-image:url(../img/fundo.jpg) ;
    background-size: cover;
}

.boxbox {
    display: flex;
    gap: 40px;
}

.login-box {
    background: var(--white);
    padding: 30px 40px;
    border-radius: 15px;
    width: 450px;
    box-shadow: 0 4px 15px var(--black);
}

.text input{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    font-size: 14px;
    border: 1px solid var(--black);
}

.text input:hover {
    background: var(--caixa);
}


.signup-box {
    background: var(--nav);
    padding: 30px 40px;
    border-radius: 15px;
    width: 650px;
    box-shadow: 0 4px 15px var(--black);
    color: var(--white);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.cadastro input, select, button {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    font-size: 14px;
}

.signup-box input, .signup-box select {
    background-color: var(--white);
    color: var(--black);
}

button {
    cursor: pointer;
    font-weight: bold;
}

.google-btn {
    background-color: var(--caixa);
    border: 1px solid var(--white);
}

.facebook-btn {
    background-color: var(--caixa);
    border: 1px solid var(--white);
}

.x-btn {
    background-color: var(--caixa);
    border: 1px solid var(--white);
}

.divider {
    text-align: center;
    margin: 20px 0;
    position: relative;
}

.divider span {
    color: var(--black);
}

.birth {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.container-gender {
    margin-top: 10px ;
    display: flex;
    gap: 20px;
}

.gender {
    display: flex;
    gap: 10px;

}

.container h4 {
    margin-top: 20px;
}

.terms {
    font-size: 12px;
    margin-top: 20px;
    text-align: center;
}

.terms a {
    color: var(--white);
    text-decoration: underline;
}

/* botoes */
.btn {
    background-color: var(--nav);
    color: var(--white);
    margin-top: 15px;
    transition: 0.3s;
}

.btn:hover {
    background-color: var(--black);
}

.btn2  {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 135px;
}

/*RODAPÉ*/
.rodape {
    background: var(--nav);
    color: var(--white);
    padding: 30px 40px;
    text-align: center;
}

.rodape-conteudo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: left;
}

.logo-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.logo-area img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 8px;
}

.logo-area h3 {
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 1px;
}

.links-centro ul,
.links-direita ul {
    list-style: none;
    padding: 20px;
}

.links-centro a,
.links-direita a {
    color: var(--white);
    text-decoration: none;
    font-size: 0.9em;
    display: block;
    margin: 5px 0;
    transition: 0.3s;
}

.links-centro a:hover,
.links-direita a:hover {
    text-decoration: underline;
}

hr {
    border: none;
    border-top: 1px solid var(--white);
    margin: 20px 0;
}

.redes-sociais {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.redes-sociais img {
    width: 35px;
    height: 35px;
    background-color: var(--white);
    border-radius: 10px;
    padding: 5px;
    transition: 0.3s;
}

.redes-sociais img:hover {
    transform: scale(1.1);
}

